<span class='projTitle'>music[cubed]</span><br>
<span class='projRole'>role: game design, sound design, implementation</span><br><br>

<iframe src="https://player.vimeo.com/video/286816954" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
