<div class='pageDiv about'>

	<!-- <p class='construction'>page currently under construction - stay tuned!</p> -->

	<p class='aboutTxt'>
	<%= image_tag('/images/synth.gif', :class => 'aboutSynth') %><br>
	<a href="//www.facebook.com/lisa.devon.7" title="" class="masterTooltip" id="tooltip-lisa">lisa devon</a> specializes in sound for games, film, branded spots, & other visual media.<br>
	she also composes music & has a huge affinity for synthesizers.</p>
	
</div>

<div style="text-align:center;">
 
	<iframe src="https://player.vimeo.com/video/288977639" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	
	<iframe src="https://player.vimeo.com/video/288977653" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

 
</div>
